# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Git
.git
.gitignore

# Env & Config
.env
*.pem
*.key

# Dependency dirs
vendor/

# IDE/editor junk
*.log
*.swp
.idea/
.vscode/
*.DS_Store

# OS files
Thumbs.db
ehthumbs.db

# Tests & coverage
coverage.out

# Docker & CI/CD
docker-compose.override.yml